<h1>Welcome to personalized hashtags!</h1>
<p> 
    Have you ever seached a hashtag on twitter and found a bunch of tweets that have nothing to do with that hashtag? 
    This application aims to change that!
</p>
<p>
    This website is still in development. 
    For now, upon signing up for an account, you may sort through tweets of a particular hashtag and sort them as either "relevant", "irrelevant", or "neutral".
    Later on in development I will add functionality to run those tweets you 
</p>