<div class="row">
    <h1>Welcome to personalized hashtags!</h1>
</div>

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card grey lighten-3" style="text-align: left;">
            <div class="card-content blue-text">
                <span class="card-title"> Purpose </span>
                <p> 
                    Have you ever seached a hashtag on twitter and found a bunch of tweets that have nothing to do with that hashtag? 
                    This application aims to change that!
                </p>
                <br>
                <span class="card-title"> Development</span>
                <p>
                    This website is still in development. 
                    For now, upon signing up for an account, you may sort through tweets of a particular hashtag and sort them as either "relevant", "irrelevant", or "neutral".
                    Later on in development I will add functionality to run those tweets you sort through a machine learning algorithm so it can learn your preferences.
                </p>
            </div>
        </div>
    </div>
</div>