<div>
    <h1> Sort tweets by #<%=hashtag%> </h1>
</div>

<div class="row">
    <div class="col s8 offset-s2">
        <blockquote class="twitter-tweet">
            <a href="<%=url%>"></a>
        </blockquote>
        <form method="POST" action="/tweets/associate?_method=PUT">
            <span>
                <input type="radio" name="associate" value="positive">
                <label>Positive</label>
            </span>
            <span>
                <input type="radio" name="associate" value="neutral" checked>
                <label>Neutral</label>
            </span>
            <span>
                <input type="radio" name="associate" value="negative">
                <label>Negative</label>
            </span>
            <div>
                <input type="hidden" name="hashtag" value="<%=hashtag%>">
            </div>
            <input type="submit" class="btn" value="Submit">
        </form>
    </div>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
