<div>
    <h3> Sort tweets by #<%=hashtag%> </h3>
</div>

<div class="row">
    <div class="col s8 offset-s2">
        <form method="POST" action="/tweets/associate?_method=PUT">
            <span class="btn green lighten-2">
                <label>
                    <input type="radio" name="associate" value="positive">
                    <span class="black-text"> Positive </span>
                </label>
            </span>
            <span class="btn yellow lighten-2">
                <label>
                    <input type="radio" name="associate" value="neutral" checked>
                    <span class="black-text"> Neutral </span>
                </label>
            </span>
            <span class="btn red lighten-2">
                <label>
                    <input type="radio" name="associate" value="negative">
                    <span class="black-text"> Negative </span>
                </label>
            </span>
            <div>
                <input type="hidden" name="hashtag" value="<%=hashtag%>">
            </div>
            <div><input type="submit" class="btn blue lighten-2" value="Submit" style="margin-top: 15px;"></div>
        </form>
    </div>
</div>

<blockquote class="twitter-tweet tw-align-center">
    <a href="<%=url%>"></a>
</blockquote>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

