<div>
    <h1> Sort tweets by #<%=hashtag%> </h1>
</div>

<div class="row">
    <div class="col s8 offset-s2">
        <form method="POST" action="/tweets/associate?_method=PUT">
            <p>
                <label>
                    <input type="radio" name="associate" value="positive">
                    <span> Positive </span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="associate" value="neutral" checked>
                    <span> Neutral </span>
                </label>
            </p>
            <p>
                <label>
                    <input type="radio" name="associate" value="negative">
                    <span> Negative </span>
                </label>
            </p>
            <div>
                <input type="hidden" name="hashtag" value="<%=hashtag%>">
            </div>
            <input type="submit" class="btn" value="Submit">
        </form>
    </div>
</div>

<p> Before tweet </p>
<blockquote class="twitter-tweet">
    <a href="<%=url%>"></a>
</blockquote>
<p> After tweet </p>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

